{% extends 'base.html' %}

{% block content %}

    <div class="container_detail">

        <div class="general">
            <div>
                <img src="/static{{ object.image.url }}">
            </div>

            <div class="wrapper_detail">
                <div>
                    <div class="name_detail">
                        <h2>{{object.type|title}} </h2>
                        <h2>{{object.manufacture}} {{object.model}}</h2>
                    </div>

                    <div class="link_detail">
                        <a href="{% url 'description_url' url=object.url category=object.category %}"> Описание</a>
                        <a href="{{ object.get_absolute_url}}"> Характеристики</a>
                        <a href="{% url 'add_reviews_url' url=object.url category=object.category %}">
                            Отзывы
                            <span>
                                {{ object.review }}
                            </span>
                        </a>
                    </div>
                </div>

                <div class="price_detail">
                    <span>Цена</span>
                    <p>{{object.price}} ₽</p>

                    <form
                        {% if user.is_authenticated %}
                            action="{% url 'add_product_to_cart_url'  url=object.url category=object.category %}"
                        {% else %}
                            action="{% url 'add_cart_anon_url'  url=object.url category=object.category %}"
                        {% endif %}
                        method="get">
                        <button>Добавить в корзину</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="specifications_detail">
             <p>{{ object.description}}</p>
        </div>

    </div>
{% endblock content %}
