{% extends 'base_list.html' %}

{% block nav %}
<nav class="nav">

    {% include 'shop/nav_for_sort.html' %}

    <div class="container_sort">
        <div>
            <form action="{% url 'headphones_url' %}"
                            method="get">
                {{form}}
                <input type="submit" value="Показать">
            </form>

        </div>


        <div>
            <a href=" {% url 'headphones_url' %}">Сбросить фильтры</a>
        </div>
    </div>


</nav>

{% endblock nav %}


{% block specifications %}
    <div class="specifications_list">
        <a href="{% url 'description_url' url=product.url category=product.category %}">
            <span>{{ product.type|title }}
                {{ product.model }}
            </span>
        </a>
        <p>
            {{product.format}}, {{product.min_reproducible_frequency}} - {{product.max_reproducible_frequency}},
            кабель - {{product.cable_length}}, микрофон - {{product.microphone}}
        </p>
    </div>
{% endblock specifications%}