{% extends 'base_detail.html' %}

{% block specifications %}
        <div class="specifications_detail">
            <table>
                <caption>Характеристики {{object.type}} {{ object.model}}</caption>
                <tr>
                    <th colspan="2" class="first">
                        Заводские данные
                        <tr>
                            <th>
                            Гарантия
                                <td>
                                    {{object.security}}
                                </td>
                            </th>
                        </tr>
                    </th>
                    <th colspan="2" class="first">
                        Общие параметры
                            <tr>
                                <th>
                                Тип изделия
                                    <td>
                                        {{object.type}}
                                    </td>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                Модель
                                    <td>
                                        {{object.model}}
                                    </td>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                Операционная система
                                    <td>
                                        {{object.os}}
                                    </td>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                Код производителя
                                    <td>
                                        {{object.code}}
                                    </td>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                Год релиза
                                    <td>
                                        {{object.year}}
                                    </td>
                                </th>
                            </tr>
                    </th>
                    <th colspan="2" class="first">
                        Экран
                        <tr>
                            <th>
                            Тип экрана
                                <td>
                                    {{object.screen_type}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Диагональ экрана
                                <td>
                                    {{object.screen_diagonal}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Разрешение экрана
                                <td>
                                    {{object.screen_resolution}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Плотность пикселей
                                <td>
                                    {{object.pixel_density}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Покрытие экрана
                                <td>
                                    {{object.screen_cover}}
                                </td>
                            </th>
                        </tr>
                    </th>
                    <th colspan="2" class="first">
                        Процессор
                        <tr>
                            <th>
                            Производитель процессора
                                <td>
                                    {{object.manufacture_processor}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Модель процессора
                                <td>
                                    {{object.model_processor}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Количество ядер процессора
                                <td>
                                    {{object.core_processor}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Максимальное число потоков
                                <td>
                                    {{object.max_thread}}
                                </td>
                            </th>
                        </tr>
                    </th>
                    <th colspan="2" class="first">
                        Оперативная память
                        <tr>
                            <th>
                            Тип оперативной памяти
                                <td>
                                    {{object.type_RAM}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Частота оперативной памяти
                                <td>
                                    {{object.frequency_RAM}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Размер оперативной памяти
                                <td>
                                    {{object.size_RAM}}
                                </td>
                            </th>
                        </tr>
                    </th>
                    <th colspan="2" class="first">
                        Графический ускоритель
                        <tr>
                            <th>
                            Вид графического ускорителя
                                <td>
                                    {{object.type_graphic_accelerator}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Производитель видеочипа
                                <td>
                                    {{object.manufacture_chip}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Модель встроенной видеокарты
                                <td>
                                    {{object.model_videocard}}
                                </td>
                            </th>
                        </tr>
                    </th>
                    <th colspan="2" class="first">
                        Накопитель данных
                        <tr>
                            <th>
                            Общий объём жёстких дисков (HDD)
                                <td>
                                    {{object.HDD}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Общий объём твердотельных накопителей (SSD)
                                <td>
                                    {{object.SSD}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Конфигурация накопителей
                                <td>
                                    {{object.storage_configuration}}
                                </td>
                            </th>
                        </tr>
                    </th>
                    <th colspan="2" class="first">
                        Питание
                        <tr>
                            <th>
                            Тип аккумулятора
                                <td>
                                    {{object.type_battery}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Ёмкость аккумулятора
                                <td>
                                    {{object.battery_capacity}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Приблизительное время работы
                                <td>
                                    {{object.time_job}}
                                </td>
                            </th>
                        </tr>
                    </th>
                    <th colspan="2" class="first">
                        Габариты
                        <tr>
                            <th>
                            Ширина
                                <td>
                                    {{object.width}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Высота
                                <td>
                                    {{object.height}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Толщина
                                <td>
                                    {{object.depth}}
                                </td>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            Вес
                                <td>
                                    {{object.massa}}
                                </td>
                            </th>
                        </tr>
                    </th>
                </tr>
            </table>
        </div>


{% endblock specifications %}




