{% extends 'base_list.html' %}

{% block nav %}
<nav class="nav">

    {% include 'shop/nav_for_sort.html' %}


    <div class="container_sort">
        <div>
            <form action="{% url 'video_card_url' %}"
                            method="get">
                {{form}}
                <input type="submit" value="Показать">
            </form>

        </div>


        <div>
            <a href=" {% url 'video_card_url' %}">Сбросить фильтры</a>
        </div>
    </div>


</nav>

{% endblock nav %}


{% block specifications %}
    <div class="specifications_list">
        <a href="{% url 'description_url' url=product.url category=product.category %}">
            <span>{{ product.type|title }}
                {{ product.model|upper }}
            </span>
        </a>
        <p>
            {{product.graphic_processor}}, {{product.frequency_videochip}}, {{product.temperature_processor}},
            {{product.width}} x {{product.height}} </p>
    </div>
{% endblock specifications%}